@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

.quiz{
    background-color: darkblue;
    color: white;
    padding: 30px;}

.quiz-form{
    max-width: 1000px;
    margin: auto;
}

.title{
    margin: 10px, auto, 40px, auto;
}

.title .heading{
 font-size: 30px;
 text-align: center;
 font-weight: 500;
}

.title .subheading{
 text-align: center;
 font-weight: 200;
}

.result{
    width: 350px;
    min-width: 350px;
    max-width: 400px;
    background-color: white;
    text-align: center;
    margin: 20px auto;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: rgb(0, 0, 0, 0.24), 0px, 3px, 8px;
}

.result p:first-child{
    color: black;
    padding: 10px 20px;
}


.tryAgain{
    background-color: rgb(5, 168, 5);
    color: white;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    padding: 10px 20px;
    border: 0px;
}

.tryAgain:hover{
    background-color: darkgreen;
}

.question{
    border: solid;
    margin: 20px auto;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    box-shadow: rgb(0, 0, 0, 0.24), 0px, 3px, 8px;

}

.correct{
    background-color: rgb(160, 244, 190);
}

.wrong{
    background-color: rgb(255, 182, 182);
}


.submit{
    padding: 5px 25px;
    margin: 0 auto;
    font-size: 22px;
    border-radius: 5px;
    display: inline-block;
    background-color: green;
    color: white;
    border: 0px;
    box-shadow: rgb(0, 0, 0, 0.24), 0px, 3px, 8px;
}

.submitDiv{
    text-align: center;
}

.submit:hover{ 
background-color: darkgreen;
}

.hide{
    display: none;
}